 :root {
    --small-user-image-height: 30px;
    --small-user-image-width: 30px;
    --large-user-image-height: 50px;
    --large-user-image-width: 50px;
    --icon-height: 20px;
    --icon-width: 20px;
    --icon-gap: 15px;
    --card-border-radius: 5px;

    --para-greeting-size: .7rem;
    --bold-para-text-small-size: .9rem;
    --para-text-small: .9rem;
    --card-top-right-header: .8rem;
    --bold-para-text-large-size: 1.5rem;
    --menu-para-size: 1rem;

    --para-line-height: 1.15rem;

 }
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

body {
    background-image: url("./img/night-sky-large.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para-author {
    font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, .9)
}

.github-link {
    font-family: 'Caveat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    background: linear-gradient(90deg,
     rgba(214,123,3,1) 10%,
      rgba(214,141,3,1) 20%,
       rgba(249,235,22,1) 30%,
        rgba(109,161,65,1) 40%,
         rgba(56,196,152,1) 50%,
          rgba(30,84,190,1) 60%,
           rgba(149,28,204,1) 70%,
            rgba(201,37,137,1) 80%,
             rgba(219,13,83,1) 90%,
              rgba(255,0,0,1) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
}

.github-logo {
    height: var(--icon-height);
    width: var(--icon-width);
    position: absolute;
    left: 62px;
    opacity: .9;
    transition: transform .4s ease-in-out
}

.github-logo:hover {
    transform: rotate(720deg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    background-color: rgba(255, 255, 255, 0);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 50px 1px rgb(2, 14, 17); 
    margin: 40px 0 0 0;
    height: 85vh;
    width:  85vw;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: rgba(3, 23, 69, 0.8);
    padding: 20px;
    border-top-left-radius: var(--card-border-radius);
    border-bottom-left-radius: var(--card-border-radius);
    display: grid;
    grid-template-rows: 100px 250px 250px;
    min-width: 230px;
    row-gap: 30px;
}

.header {
    grid-column: 2 / -1;
    padding: 10px 30px;
    /* border-bottom: 1px solid rgba(219, 13, 83, 1); */
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    display: grid;
    grid-template-rows: fit-content fit-content;
    row-gap: 20px;
    border-top-right-radius: var(--card-border-radius);
}

.dashboard {
    padding: 20px;
    background-color: rgba(211, 211, 211, .8);
    border-bottom-right-radius: 3px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 25px 1fr;
    gap: var(--icon-gap);
}

.project-header {
    grid-column: 1 / 2;
}



.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 300px)); */
    gap: var(--icon-gap);
}

.card {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 15px;
    min-height: 170px;
    max-height: 300px;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 5px 2px rgb(138, 140, 140);
    line-height: var(--para-line-height);
    border-left: 5px solid rgb(135, 12, 12);
    display: grid;
    grid-template-rows: 1fr var(--icon-height);
}

.card-text, .card-text-right {
    font-size: var(--para-text-small);
    color: rgba(0, 0, 0, .7)
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(3, var(--icon-width));
    justify-content: end;
    column-gap: var(--icon-gap);
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.card-section-right {
    line-height: 1rem;
    display: grid;
    grid-template-rows: 1fr 25px 1fr;
    row-gap: var(--icon-gap);

}

.card-right-top, .card-right-bottom {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 15px;
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 5px 2px rgb(138, 140, 140);
}

.announce-card {
    overflow: hidden;
}

.card-right-title{
    font-size: var(--para-greeting-size);
    font-weight: 700;
}

.card-text-right {
    font-size: var(--para-greeting-size);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.card-right-bottom {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: var(--icon-gap)
}

.trending-object {
    display: grid;
    grid-template-columns: var(--small-user-image-width) 1fr;
    column-gap: var(--icon-gap);
    align-items: center;
}

.icon, .menu-icon, .support-icon {
    height: var(--icon-height);
    width: var(--icon-width);
}

.header-search {
    display: grid;
    align-items: center;
    gap: var(--icon-gap);
    grid-template-columns: var(--icon-width) 5fr 2fr;
}

.header-search-right {
    display: flex;
    margin-left: auto;
    column-gap: var(--icon-gap);
    align-items: center;
}

.profile-image-small {
    height: var(--small-user-image-height);
    width: var(--small-user-image-width);
}

input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 50px;
    height: fit-content;
    min-width: 250px;
    max-width: 500px;
    margin-top: 1px;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--icon-gap);
    align-items: center;
}

.profile-info {
    display: grid;
    grid-template-columns: var(--large-user-image-width) 1fr;
    column-gap: var(--icon-gap);
    align-items: center;
}

.profile-info img {
    height: var(--large-user-image-height);
    width: var(--large-user-image-width);
}

.profile-name {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.para-greeting {
    font-size: var(--para-greeting-size);
    font-weight: 700;
}

.nav-link {
    grid-column: -1 / -2;
}

.nav-link ul {
    display: flex;
    align-items: center;
    column-gap: var(--icon-gap);
    justify-content: flex-end;
}

.link {
    background-color: rgba(3, 23, 69, 1);
    padding: 7px 0;
    border-radius: 50px;
    color: rgba(255, 255, 255, 1);
    font-size: var(--bold-para-text-small-size);
    font-weight: 700;
    width: 85px;
    text-align: center;
}

.link:hover {
    opacity: .8;
    cursor: pointer;
}

.logo {
    display: grid;
    grid-template-columns: var(--large-user-image-width) 1fr;
    column-gap: var(--icon-gap);
    align-items: center;
}

.logo-image {
    height: var(--large-user-image-height);
    width: var(--large-user-image-width)
}

.logo-para {
    font-size: var(--bold-para-text-large-size);
    font-weight: 700;
    padding-top: 5px;
}

.user-menu ul, .user-support ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
}

.user-support ul {
    grid-template-rows: repeat(3, 1fr);
}

.user-menu li, .user-support li {
    display: grid;
    grid-template-columns: var(--icon-width) 1fr;
    column-gap: var(--icon-gap);
    align-items: center;
}

.user-menu li p, .user-support li p {
    padding-top: .8px;
    font-size: var(--menu-para-size);
    font-weight: 700;
}


li {
    list-style-type: none;
}

hr {
    margin: 15px 0;
    opacity: .3;
}

h4 {
    align-self: end;
}

.menu-para, .support-para, .logo-para {
    color: rgba(255, 255, 255, 1)
}

.bold-para-text-large {
    font-size: var(--bold-para-text-large-size);
    font-weight: 700;
}

.bold-para-text-small {
    font-size: var(--bold-para-text-small-size);
    font-weight: 700;
}

